/**
 * Initialize the page with clock and status hidden. These will be
 * revealed via JavaScript once the page has been initialized.
 */

#clock, #status {
	text-align: center;
}
#clockComponents {
	display: none;
}
#clock {
	font-size: 48px;	
}
